/*
* Ajustes para ver bien la hoja de personaje.
*/
div.actor.sheet.character {
    min-width: 845px !important;
    min-height: 750px !important;
}
/*
* Fuente:
# https://github.com/allnnde/pf2e-esp-translation/blob/main/styles/pf2e.css
*/
:root {
    --actor-sheet-aside-background-size: 260px;
  }

.actor.sheet .crb-style {
    grid-template-rows: 75px minmax(min-content, max-content) 1fr;
    grid-template-columns: calc(var(--actor-sheet-aside-background-size) + 10px) 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar nav"
        "sidebar content";
    grid-auto-flow: initial;
    grid-auto-rows: initial;
    grid-auto-columns: initial;
}

.actor.sheet .crb-style aside{
    background-size: var(--actor-sheet-aside-background-size) calc(100% - 52px),var(--actor-sheet-aside-background-size) 52px;
}

/*
* Ajuste para la hoja de detalles de objeto (armas, dioses, etc)
*/
.pf2e.item.sheet form .item-details .form-group label, .pf2e.item.sheet form .inventory-details .form-group label {
    min-width: 15em !important;
}
/*
* Para que los componentes de conjuro se vean bien.
*/
.pf2e.item.sheet form .item-details .form-group .spell-components label {
    min-width: 2em !important;
}
